@model adminconsole.Models.LocationsContactSpecialQualitiesViewModel
@using adminconsole.Models

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Locations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" value="@Guid.NewGuid()" asp-for="LocationId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="InstitutionName" class="control-label"></label>
                <input asp-for="InstitutionName" class="form-control" />
                <span asp-validation-for="InstitutionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" asp-items="Html.GetEnumSelectList<StateEnum>()">
                    <option selected="selected" value="">Select State</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Long" class="control-label"></label>
                <input asp-for="Long" class="form-control" />
                <span asp-validation-for="Long" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetailOutlet" class="control-label"></label>
                <input asp-for="RetailOutlet" class="form-control" />
                <span asp-validation-for="RetailOutlet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Terminal" class="control-label"></label>
                <input asp-for="Terminal" class="form-control" />
                <span asp-validation-for="Terminal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestrictedAccess" class="control-label"></label>
                    <select asp-for="RestrictedAccess" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                        <option selected="selected" value="">Select</option>
                    </select>                
                <span asp-validation-for="RestrictedAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositTaking" class="control-label"></label>
                <select asp-for="DepositTaking" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="DepositTaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitedTransactions" class="control-label"></label>
                <select asp-for="LimitedTransactions" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="LimitedTransactions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandicapAccess" class="control-label"></label>
                <select asp-for="HandicapAccess" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="HandicapAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptsCash" class="control-label"></label>
                <select asp-for="AcceptsCash" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="AcceptsCash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cashless" class="control-label"></label>
                <select asp-for="Cashless" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="Cashless" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelfServiceOnly" class="control-label"></label>
                <select asp-for="SelfServiceOnly" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="SelfServiceOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surcharge" class="control-label"></label>
                <select asp-for="Surcharge" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="Surcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnMilitaryBase" class="control-label"></label>
                <select asp-for="OnMilitaryBase" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="OnMilitaryBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilitaryIdRequired" class="control-label"></label>
                <select asp-for="MilitaryIdRequired" asp-items="Html.GetEnumSelectList<BooleanEnum>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <span asp-validation-for="MilitaryIdRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalDetail" class="control-label"></label>
                <input asp-for="AdditionalDetail" class="form-control" />
                <span asp-validation-for="AdditionalDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
